/* General */
/***********/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 1.6rem;
}

.container {
  max-width: 1920px;
  min-height: 100vh;
  padding: 70px 0 0;
  position: relative;
}

.headline {
  margin: 0 0 70px;
  text-align: center;
}

/* Calendar */
/************/

.calendar {
  background-color: #121212;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1440px;
}

.calendar__dates {
  padding: 0 0 10px;
}

.calendar__row {
  align-items: center;
  display: grid;
  gap: 7px;
  grid-template-columns: repeat(7, 1fr);
}

.calendar__row--filter {
  border-bottom: 1px solid #808080;
  padding: 10px 0;
}

button {
  background: none;
  background-size: 0;
  border: 1px solid transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.calendar__filter-button {
  border: 1px solid #808080;
  height: 40px;
  position: relative;
  width: 40px;
  z-index: 1;
}

.calendar__filter-button:not(:disabled):hover {
  border: 1px solid #ec7837;
}

.calendar__filter-button:before {
  content: "";
  background-color: #ec7837;
  height: 100%;
  width: 0;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
}

.calendar__filter-button:not(:disabled):hover:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 50%;
  transition: width 0.5s;
}

.calendar__filter-button:not(:disabled):hover path {
  fill: white;
}

.calendar__filter-button:disabled {
  cursor: not-allowed;
}

.calendar__filter-button:disabled path {
  fill: #808080;
}

.calendar__filter-button--previous {
  grid-column: 2/3;
}

.calendar__filter-info {
  font-size: 2.2rem;
  grid-column: 3/6;
  text-align: center;
}

.calendar__filter-button--next {
  grid-column: 6/7;
  margin-left: auto;
}

@media screen and (max-width: 320px) {
  .calendar__filter-button--previous {
    grid-column: 1/2;
  }

  .calendar__filter-info {
    grid-column: 2/7;
  }

  .calendar__filter-button--next {
    grid-column: 7/8;
  }
}

.calendar__weekday {
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
}

.calendar__date {
  background: none;
  border: 1px solid #262626;
  color: inherit;
  font-size: 1.6rem;
  outline: inherit;
  padding: 8px 0;
  text-align: center;
}

.calendar__date.calendar__date--past {
  cursor: not-allowed;
}

.selected-month {
  background-color: #262626;
  cursor: pointer;
}

.today {
  background-color: #ec7837;
  border: 1px solid #ec7837;
  cursor: pointer;
}

.next-month {
  cursor: pointer;
}

/* Modal */
/*********/

.backdrop {
  cursor: pointer;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(76, 76, 76, 0.8);
  z-index: 10;
  display: none;
}

.backdrop.visible {
  display: block;
  pointer-events: all;
  z-index: 90;
}

.modal {
  border: 2px solid #262626;
  display: none;
  left: calc(50% - 160px);
  position: absolute;
  top: 110px;
  width: 320px;
  z-index: 100;
}

.modal.visible {
  display: block;
}

.modal__reservations {
  list-style: none;
}

.modal__header,
.reservation {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 4rem;
  padding: 0 10px;
}

.reservation {
  background-color: #fff;
  color: #000;
  font-size: 1.4rem;
}

.reservation:nth-of-type(even) {
  background-color: #e1e1e1;
}

.button {
  border: 1px solid #000;
  color: #ec7837;
  min-width: 100px;
  padding: 3px 10px;
  position: relative;
  text-transform: uppercase;
  z-index: 0;
}

.button:not(:disabled):hover {
  color: #fff;
  transition: color 0.2s;
}

.button:not(:disabled):before {
  content: "";
  background-color: #ec7837;
  height: 100%;
  width: 0;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: -1;
}

.button:not(:disabled):hover:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  transition: width 0.2s;
}

.button:disabled {
  color: #b8b8b8;
}

/* Form Modal */
/**************/

.modal__content {
  background-color: #ffffff;
  color: #000000;
}

.error-message {
  min-height: 36px;
}

.error-message__text {
  background-color: #6b1717;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 10px 15px;
}

.form {
  padding: 2rem 0;
}

.form__row {
  display: flex;
  flex-direction: column;
  margin: 0 auto 1rem;
  width: 18rem;
}

.form__row:last-of-type {
  margin: 2rem auto 0;
}

.form_label {
  font-size: 1.2rem;
  text-transform: uppercase;
}

.form__input {
  background-color: #eeeeee;
  border: 1px solid #5f5f5f;
  padding: 0.5rem;
  outline: none;
}

.form__input--error {
  border-color: #d10e0e;
}

.form__input:focus {
  border-color: #ec7837;
}

.validation-message {
  align-self: flex-end;
  color: #d10e0e;
  font-size: 1.2rem;
  margin: 2px 0 0;
  min-height: 15px;
}

.button--submit {
  width: fit-content;
  align-self: center;
}

/* Success Modal */
/*****************/

.success-message {
  display: grid;
  gap: 7px 0;
  grid-template-columns: 125px 1fr;
  padding: 10px 7px;
}

.success-message__label {
  font-weight: 600;
}

.success-message__text {
  color: #ec7837;
}
